body {
  background-color: #E6F0DC; /* Light gray background */
}

/* Topbar */

.topnav {
    background-color: #9A6735;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #C1E899;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #55883B;
    color: white;
  }