:root{
  --clr-body-bg: rgb(53, 55, 75);
  --clr-container-bg: rgb(80, 114, 123);
  --clr-word-color: rgb(120, 160, 131);
  --clr-clrpicker: rgb(80, 114, 123);

}

body {
  background-color: var(--clr-body-bg); /* Light gray background */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  z-index: -10;
}

.container {
  margin: 20px auto; 
  border: 2px solid var(--clr-container-bg);
  width: 90%; 
  max-width: 600px;
  min-height: 60vh; 
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box; 
}

.center {
  text-align: center;
}

h1 {

  color: var(--clr-word-color);
  font-size: 20px;;
}

h2 {
  color: var(--clr-word-color);
  font-size: 15px;
}

p {
  color: var(--clr-word-color);
  font-size: 12px;
}

.headingbox {
  position: fixed;
  width: 30%;
  height: 10%;
  background-color:white;
}

/* Topbar */
.topnav {
  display: flex;
  justify-content: center;
  position: static;
  top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: var(--clr-word-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.3s, color 0.3s;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #78A083;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #78A083;
}

/* Container styling */
.container {
  padding: 20px;
  background-color: var(--clr-body-bg);
  text-align: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.colour-picker > fieldset {
  position: fixed;
  left: 50%; /* Move the element to the center of the viewport */
  bottom: 0;
  transform: translateX(-50%); /* Adjust for the element's own width */
  border: 0;
  display: flex;
  gap: 2rem;
  padding: 1rem 3rem;
  width: fit-content;
  border-radius: 1rem 1rem 0 0;
  background-color: var(--clr-clrpicker);
  z-index: 10;
}
.colour-picker input[type="radio"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  outline: 3px solid var(--radio-colour, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}

.colour-picker input[type="radio"]:checked {
  background-color: var(--radio-colour);
}
.colour-picker input[type="radio"]#winter {
  --radio-colour: white;
}
.colour-picker input[type="radio"]#summer {
  --radio-colour: rgb(255, 125, 41);
}
.colour-picker input[type="radio"]#autumn {
  --radio-colour: rgb(177, 116, 87);
}
.colour-picker input[type="radio"]#spring {
  --radio-colour: rgb(82, 115, 77);
}
.colour-picker input[type="radio"]#flag {
  --radio-colour: white;
}

:root:has(#winter:checked) {
  --clr-body-bg: rgb(241, 240, 232);
  --clr-container-bg: rgb(179, 200, 207);
  --clr-word-color: rgb(137, 168, 178);
  --clr-clrpicker: rgb(229, 225, 218);
}
:root:has(#summer:checked) {
  --clr-body-bg: rgb(254, 255, 210);
  --clr-container-bg: rgb(255, 191, 120);
  --clr-word-color: rgb(255, 125, 41);
  --clr-clrpicker: rgb(255, 238, 169);
}
:root:has(#autumn:checked) {
  --clr-body-bg: rgb(74, 73, 71);
  --clr-container-bg: rgb(177, 116, 87);
  --clr-word-color: rgb(250, 247, 240);
  --clr-clrpicker: rgb(216, 210, 194);
}
:root:has(#spring:checked) {
  --clr-body-bg: rgb(145, 199, 136);
  --clr-container-bg: rgb(254, 255, 222);
  --clr-word-color: rgb(254, 255, 222);  
  --clr-clrpicker: rgb(254, 255, 222);
}
.png-container {
  text-decoration: none;
  display: inline-block;
  line-height: 0;
  padding: 3px;
  border: 0;
}
.png-container img {  
  filter: drop-shadow(0px 10000px 0 var(--clr-word-color));
  transform: translateY(-10000px);
}
.container a {
  color: var(--clr-word-color);
  font-size: 15px;
}
.box {
  margin: 20px auto; 
  border: 2px solid var(--clr-container-bg);
  width: 90%; 
  max-width: 400px;
  min-height: 60vh; 
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box; 
  z-index: -2;
}

canvas {
  display: block;
  position: absolute;
  inset: 0;
  width: 90%;
  height: 100%;
  z-index: -1;
}

.circles-container span {
  position: absolute;
  width: 5%;
  height: 5%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  opacity: 0.6;
}

.circles-container span:nth-child(2n) {
  background-color: blue;
}
.circles-container span:nth-child(3n) {
  background-color: red;
}
.circles-container span:nth-child(5n) {
  background-color: white;
}
.circles-container span:nth-child(7n) {
  background-color: orange;
}
.circles-container span:nth-child(11n) {
  background-color: purple;
}
.circles-container span:nth-child(13n) {
  background-color: yellow;
}
.carousel {
  display: flex;
  align-items: center;
  justify-self: center; 
  height: 300px;
  overflow: visible;
}

.img-box {
  width: 70px;
  height: 300px;
  margin: 10px;
  border-radius: 50px;
  background-image: url(./resources/image-1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: width 0.5s;
}

.img-box:nth-child(2) {
  background-image: url(./resources/image-2.jpg);
  background-size: cover;
  background-position: center;
}
.img-box:nth-child(3) {
  background-image: url(./resources/image-3.jpg);
  background-size: cover;
  background-position: center;
}
.img-box:nth-child(4) {
  background-image: url(./resources/image-5.JPG);
  background-size: cover;
  background-position: center;
}
.img-box:nth-child(5) {
  background-image: url(./resources/image-6.jpg);
  background-size: cover;
  background-position: center;
}

.img-box h3 {
  color:white;
  position: absolute;
  bottom: 0;
  font-size: 15px;
  left: 20px;
  opacity: 0;
}

.img-box:hover {
  width: auto;
  height: auto;
  min-width: 30vh;
  min-height: 50vh;
  cursor: pointer;
}

.img-box:hover h3 {
  opacity: 1;
  bottom: 25px;

}
.tenor-gif-embed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: -1;
}
